
    <% include partials/header.ejs %>
    <div class="form-container">
      <div>
        <h1>Edit Post 🐤</h1>
      </div>
      <section class="input-form">
        <form method="POST" action="/editform/<%= product.id %>/edit ">
          <div class="form-group">
            <div class="elements">
              <label class="label" for="title">Title: </label>
              <input
                class="form-control"
                type="text"
                name="title"
                value="<%= product.title %>"
              />
          </div>
          <div class="elements">
              <label class="label" for="description">Description: </label>
              <textarea
              class="text-space"
              type="text"
              name="description"
              ><%= product.description %></textarea>
          </div>
          <div class="elements">
              <label class="label" for="thumbnail_photo_url">Thumbnail Photo URL: </label>
            <input
                class="form-control"
                type="text"
                name="thumbnail_photo_url"
                value="<%= product.thumbnail_photo_url %>"
              />
          </div>
          <div class="elements">
              <label class="label" for="price">Price: </label>
              <input
                class="form-control"
                type="number"
                name="price"
                value="<%= product.price %>"
              />
          </div>
          <div class="elements">
            <label class="label" for="price">Category: </label>
            <select id="category" name="category">
              <option value="">Select a category</option>
              <option value="Automotive">Automotive</option>
              <option value="Antiques">Antiques</option>
              <option value="Bikes">Bikes</option>
              <option value="Musical Instruments">Musical Instruments</option>
              <option value="Audio">Audio</option>
              <option value="Electronics">Electronics</option>
              <option value="Computers">Computers</option>
              <option value="Gaming">Gaming</option>
              <option value="Clothing">Clothing</option>
            </select>
          </div>
        </div>
        <div class="button">
          <button type="submit">Submit</button>
        </div>
        </form>
      </section>
    </div>
  </body>
</html>
