<!DOCTYPE html>
<html lang="en">
<% include partials/header.ejs %>
  <div class="product-list">
    <h1>My Favourites</h1>
    <% products.forEach(function(product) { %>
      <div class="product">
        <div class="thumbnail">
          <img src="<%= product.thumbnail_photo_url %>" alt="<%= product.title %> thumbnail">
        </div>
        <div class="details">
          <div class="title"><%= product.title %></div>
          <div class="description"><%= product.description %></div>
        </div>
        <div class="right-block">
          <div class="price"><%= product.price %></div>
          <div class="contact-favourite">
            <a href="/email/<%=product.id%>"><%= product.email %></a>
          </div>
        </div>
      </div>
      <% }); %>
  </div>
  </body>

</html>
