<!DOCTYPE html>
<html lang="en">
  <% include partials/header.ejs %>
  <!-- <div class="page-header">
    <h1>Product Listings</h1>
  </div> -->
    <div class="product-list">
      <h1>Product Listings</h1>
      <% products.forEach(function(product) { %>
        <div class="product">
          <div class="thumbnail">
            <img src="<%= product.thumbnail_photo_url %>" alt="<%= product.title %> thumbnail">
          </div>
          <div class="details">
            <div class="title"><%= product.title %></div>
            <div class="description"><%= product.description %></div>
          </div>
          <div class="right-block">
            <div class="price">$<%= product.price %></div>
            <div class="contact-favourite">
              <a href="/email/<%=product.id%>"><%= product.email %></a>
              <% if (product.favourite_id !== 0) { %>
                <button class="favourite" data-product-id="<%= product.id %>">
                  <i class="fas fa-heart"></i> Favourited
                </button>
              <% } else { %>
                <button class="favourite" data-product-id="<%= product.id %>">
                  <i class="far fa-heart"></i>
                </button>
              <% } %>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
      <div class="filter-container">
        <form class="filter-options" method="get" action="/filters">
          <label>Sort by:</label>
          <select name="sort">
            <option value="no-sort" <%= !queryParams.sort ? 'selected' : '' %>>-- Select --</option>
            <option value="low-to-high" <%= queryParams.sort === 'low-to-high' ? 'selected' : '' %>>Price: Low to High</option>
            <option value="high-to-low" <%= queryParams.sort === 'high-to-low' ? 'selected' : '' %>>Price: High to Low</option>
          </select>
          <label>Price Range:</label>
          <input type="number" name="min-price" placeholder="Minimum price" value="<%= queryParams['min-price'] || '' %>">
          <input type="number" name="max-price" placeholder="Maximum price" value="<%= queryParams['max-price'] || '' %>">
          <label>Category:</label>
          <select id="category" name="category">
            <option value="" <%= !queryParams.category ? 'selected' : '' %>>-- Select a category --</option>
            <option value="Automotive" <%= queryParams.category === 'Automotive' ? 'selected' : '' %>>Automotive</option>
            <option value="Bikes" <%= queryParams.category === 'Bikes' ? 'selected' : '' %>>Bikes</option>
            <option value="Musical Instruments" <%= queryParams.category === 'Musical Instruments' ? 'selected' : '' %>>Musical Instruments</option>
            <option value="Audio" <%= queryParams.category === 'Audio' ? 'selected' : '' %>>Audio</option>
            <option value="Electronics" <%= queryParams.category === 'Electronics' ? 'selected' : '' %>>Electronics</option>
            <option value="Computers" <%= queryParams.category === 'Computers' ? 'selected' : '' %>>Computers</option>
            <option value="Gaming" <%= queryParams.category === 'Gaming' ? 'selected' : '' %>>Gaming</option>
            <option value="Clothing" <%= queryParams.category === 'Clothing' ? 'selected' : '' %>>Clothing</option>
          </select>
          <button type="submit">Filter</button>
        </form>
      </div>
    </body>
</html>

