<!DOCTYPE html>
<html lang="en">
<% include partials/header.ejs %>
  <div class="filter-container">
    <form class="filter-options" method="get" action="/filters">
      <label>Sort by:</label>
      <select name="sort">
        <option value="no-sort"></option>
        <option value="low-to-high">Price: Low to High</option>
        <option value="high-to-low">Price: High to Low</option>
      </select>
      <label>Price Range:</label>
      <input type="number" name="min-price" placeholder="Minimum price">
      <input type="number" name="max-price" placeholder="Maximum price">
      <button type="submit">Filter</button>
    </form>
  </div>
  <div class="product-list">
    <h1>My Listings</h1>
    <% products.forEach(function(product) { %>
      <div class="product">
        <div class="thumbnail">
          <img src="<%= product.thumbnail %>" alt="<%= product.title %> thumbnail">
        </div>
        <div class="details">
          <h2 class="title">
            <%= product.title %>
          </h2>
          <p class="description">
            <%= product.description %>
          </p>
          <div style="display: flex" class="my-buttons">
            <form action="/editform/<%= product.id %>">
              <input type="submit" value="Edit" />
            </form>
            <form method="POST" action="/mylistings/<%= product.id %>/delete">
              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
            <form method="POST" action="/mylistings/<%= product.id %>/sold">
              <button type="submit" class="btn btn-primary">Sold</button>
            </form>
          </div>
        </div>
        <div class="right-block">
          <p class="price">
            <%= product.price %>
          </p>
          <div class="contact-favourite">
            <a href="mailto:example@example.com">example@example.com</a>
            <button class="favorite">Add to favorites</button>
          </div>
        </div>
      </div>
      <% }); %>
  </div>
  </body>

</html>
